.env
__pycache__/
*.pyc
.venv/
dist/
.eggs/
*.egg-info/
checkpoints/
data/raw/
data/processed/
data/datasets/
mlruns/
mlflow.db
*.pt
*.bin
*.safetensors
.DS_Store
datasets/
notebooks/.ipynb_checkpoints/
notebooks/Untitled.ipynb
